@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  margin: 0;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 17px 30px;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
  .button {
    border-radius: 10px;
    background-color: #ffd200;
    border: none;
    padding: 17px 30px;
  }
  .button:focus {
    outline: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
}

@media (max-width: 567px) {
  .container {
    width: 320px;
  }
  .button {
    border-radius: 10px;
    background-color: #ffd200;
    border: none;
    padding: 17px 30px;
  }
  .button:focus {
    outline: none;
  }
}

.section {
  padding: 75px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold';
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

/*Импорт стилей шапки*/
.navbar {
  padding: 11px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
  font-family: 'Museo Sans Bold';
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 5px;
  font-family: 'Museo Sans Bold';
}

@media (max-width: 768px) {
  .navbar {
    padding-top: 8px;
    padding-bottom: 16px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 14px 28px;
    border-radius: 5px;
    margin-left: 0;
  }
  .navbar__logo {
    width: 90px;
    margin-left: 5px;
  }
}

@media (max-width: 567px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 8px;
    padding-bottom: 16px;
    width: 90%;
    padding-left: 15px;
    padding-right: 30px;
  }
  .navbar-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 14px 28px;
    border-radius: 5px;
    margin-left: 0;
  }
  .navbar__logo {
    width: 90px;
    margin-left: 0;
  }
}

/*Импорт главной секции*/
.hero {
  background-color: #f5f5f5;
}

.hero-image {
  padding-left: 21px;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 30px;
}

.hero__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 25px;
}

.hero__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 32px;
  margin-top: 0;
  font-family: 'Museo Sans Bold';
}

.hero__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 70px;
  font-family: 'Museo Sans Bold';
}

.features {
  margin: 0;
  padding: 0;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  line-height: 24px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 28px;
}

.features__text {
  max-width: 250px;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .hero {
    padding: 50px 0;
  }
  .hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .features {
    margin-bottom: 44px;
  }
  .features__item {
    margin-bottom: 20px;
  }
  .features__text {
    font-size: 12px;
  }
  .features__image {
    margin-right: 15px;
  }
}

@media (max-width: 567px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    padding-left: 15px;
  }
  .hero-image {
    padding-left: 0;
  }
  .hero__subtitle {
    margin-bottom: 20px;
  }
  .hero__title {
    margin-bottom: 5px;
  }
  .features {
    margin-bottom: 44px;
  }
  .features__text {
    max-width: 200px;
  }
}

.offer {
  background: url("../img/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-contact__text {
  max-width: 50%;
  line-height: 24px;
}

.offer-contact__tel {
  line-height: 24px;
  max-width: 45%;
}

.offer__title {
  max-width: 350px;
  line-height: 35px;
  margin-bottom: 20px;
  margin-top: 0;
}

.offer__subtitle {
  max-width: 260px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 35px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 25px;
  font-family: 'Museo Sans Bold';
  font-size: 16px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .offer-contact__text {
    max-width: 75%;
    margin-bottom: 18px;
  }
  .offer-contact__tel {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offer-contact__text {
    max-width: 50%;
    line-height: 24px;
  }
  .offer-contact__tel {
    line-height: 24px;
    max-width: 37%;
  }
}

@media (max-width: 576px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .offer-contact__text {
    max-width: 75%;
    margin-bottom: 18px;
  }
  .offer-contact__tel {
    max-width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */